@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext');

.sembarang h1{
    font-family: 'Righteous', cursive;
    color: blueviolet;
}

ul>li:nth-child(3){
    color: blueviolet;
}